Web References/BusinessService/BusinessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://ws.smartRestaurant.net" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.smartRestaurant.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.smartRestaurant.net">
      <s:element name="BackupDatabase">
        <s:complexType />
      </s:element>
      <s:element name="BackupDatabaseResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSalesReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="empType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesReportResult" type="tns:ArrayOfDataStream" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDataStream">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataStream" nillable="true" type="tns:DataStream" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DataStream">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Column" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetInvoiceReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="empType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceReportResult" type="tns:ArrayOfDataStream" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintInvoiceReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="empType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintInvoiceReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetInvoiceSummaryReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="empType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceSummaryReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceSummaryReportResult" type="tns:ArrayOfDataStream" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKitchenPrinter">
        <s:complexType />
      </s:element>
      <s:element name="GetKitchenPrinterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKitchenPrinterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceiptPrinter">
        <s:complexType />
      </s:element>
      <s:element name="GetReceiptPrinterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceiptPrinterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateInvoiceHidden">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="invoiceID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="hidden" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateInvoiceHiddenResponse">
        <s:complexType />
      </s:element>
      <s:element name="PrintSummaryMenuType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintSummaryMenuTypeResponse">
        <s:complexType />
      </s:element>
      <s:element name="PrintSummaryReceive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintSummaryReceiveResponse">
        <s:complexType />
      </s:element>
      <s:element name="PrintTaxSummary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintTaxSummaryResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetBillPrinter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="printerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBillPrinterResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetReceiptPrinter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="printerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReceiptPrinterResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetKitchenPrinter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="printerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetKitchenPrinterResponse">
        <s:complexType />
      </s:element>
      <s:element name="ExportInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportInvoiceResult" type="tns:ArrayOfDataStream" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSelected">
        <s:complexType />
      </s:element>
      <s:element name="DeleteSelectedResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetBillPrinter">
        <s:complexType />
      </s:element>
      <s:element name="GetBillPrinterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBillPrinterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstalledPrinter">
        <s:complexType />
      </s:element>
      <s:element name="GetInstalledPrinterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInstalledPrinterResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BackupDatabaseSoapIn">
    <wsdl:part name="parameters" element="tns:BackupDatabase" />
  </wsdl:message>
  <wsdl:message name="BackupDatabaseSoapOut">
    <wsdl:part name="parameters" element="tns:BackupDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalesReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesReport" />
  </wsdl:message>
  <wsdl:message name="GetSalesReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoiceReport" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceReportResponse" />
  </wsdl:message>
  <wsdl:message name="PrintInvoiceReportSoapIn">
    <wsdl:part name="parameters" element="tns:PrintInvoiceReport" />
  </wsdl:message>
  <wsdl:message name="PrintInvoiceReportSoapOut">
    <wsdl:part name="parameters" element="tns:PrintInvoiceReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceSummaryReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoiceSummaryReport" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceSummaryReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceSummaryReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetKitchenPrinterSoapIn">
    <wsdl:part name="parameters" element="tns:GetKitchenPrinter" />
  </wsdl:message>
  <wsdl:message name="GetKitchenPrinterSoapOut">
    <wsdl:part name="parameters" element="tns:GetKitchenPrinterResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceiptPrinterSoapIn">
    <wsdl:part name="parameters" element="tns:GetReceiptPrinter" />
  </wsdl:message>
  <wsdl:message name="GetReceiptPrinterSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceiptPrinterResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateInvoiceHiddenSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateInvoiceHidden" />
  </wsdl:message>
  <wsdl:message name="UpdateInvoiceHiddenSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateInvoiceHiddenResponse" />
  </wsdl:message>
  <wsdl:message name="PrintSummaryMenuTypeSoapIn">
    <wsdl:part name="parameters" element="tns:PrintSummaryMenuType" />
  </wsdl:message>
  <wsdl:message name="PrintSummaryMenuTypeSoapOut">
    <wsdl:part name="parameters" element="tns:PrintSummaryMenuTypeResponse" />
  </wsdl:message>
  <wsdl:message name="PrintSummaryReceiveSoapIn">
    <wsdl:part name="parameters" element="tns:PrintSummaryReceive" />
  </wsdl:message>
  <wsdl:message name="PrintSummaryReceiveSoapOut">
    <wsdl:part name="parameters" element="tns:PrintSummaryReceiveResponse" />
  </wsdl:message>
  <wsdl:message name="PrintTaxSummarySoapIn">
    <wsdl:part name="parameters" element="tns:PrintTaxSummary" />
  </wsdl:message>
  <wsdl:message name="PrintTaxSummarySoapOut">
    <wsdl:part name="parameters" element="tns:PrintTaxSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="SetBillPrinterSoapIn">
    <wsdl:part name="parameters" element="tns:SetBillPrinter" />
  </wsdl:message>
  <wsdl:message name="SetBillPrinterSoapOut">
    <wsdl:part name="parameters" element="tns:SetBillPrinterResponse" />
  </wsdl:message>
  <wsdl:message name="SetReceiptPrinterSoapIn">
    <wsdl:part name="parameters" element="tns:SetReceiptPrinter" />
  </wsdl:message>
  <wsdl:message name="SetReceiptPrinterSoapOut">
    <wsdl:part name="parameters" element="tns:SetReceiptPrinterResponse" />
  </wsdl:message>
  <wsdl:message name="SetKitchenPrinterSoapIn">
    <wsdl:part name="parameters" element="tns:SetKitchenPrinter" />
  </wsdl:message>
  <wsdl:message name="SetKitchenPrinterSoapOut">
    <wsdl:part name="parameters" element="tns:SetKitchenPrinterResponse" />
  </wsdl:message>
  <wsdl:message name="ExportInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:ExportInvoice" />
  </wsdl:message>
  <wsdl:message name="ExportInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:ExportInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSelectedSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSelected" />
  </wsdl:message>
  <wsdl:message name="DeleteSelectedSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSelectedResponse" />
  </wsdl:message>
  <wsdl:message name="GetBillPrinterSoapIn">
    <wsdl:part name="parameters" element="tns:GetBillPrinter" />
  </wsdl:message>
  <wsdl:message name="GetBillPrinterSoapOut">
    <wsdl:part name="parameters" element="tns:GetBillPrinterResponse" />
  </wsdl:message>
  <wsdl:message name="GetInstalledPrinterSoapIn">
    <wsdl:part name="parameters" element="tns:GetInstalledPrinter" />
  </wsdl:message>
  <wsdl:message name="GetInstalledPrinterSoapOut">
    <wsdl:part name="parameters" element="tns:GetInstalledPrinterResponse" />
  </wsdl:message>
  <wsdl:portType name="BusinessServiceSoap">
    <wsdl:operation name="BackupDatabase">
      <wsdl:input message="tns:BackupDatabaseSoapIn" />
      <wsdl:output message="tns:BackupDatabaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesReport">
      <wsdl:input message="tns:GetSalesReportSoapIn" />
      <wsdl:output message="tns:GetSalesReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceReport">
      <wsdl:input message="tns:GetInvoiceReportSoapIn" />
      <wsdl:output message="tns:GetInvoiceReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintInvoiceReport">
      <wsdl:input message="tns:PrintInvoiceReportSoapIn" />
      <wsdl:output message="tns:PrintInvoiceReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceSummaryReport">
      <wsdl:input message="tns:GetInvoiceSummaryReportSoapIn" />
      <wsdl:output message="tns:GetInvoiceSummaryReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKitchenPrinter">
      <wsdl:input message="tns:GetKitchenPrinterSoapIn" />
      <wsdl:output message="tns:GetKitchenPrinterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiptPrinter">
      <wsdl:input message="tns:GetReceiptPrinterSoapIn" />
      <wsdl:output message="tns:GetReceiptPrinterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInvoiceHidden">
      <wsdl:input message="tns:UpdateInvoiceHiddenSoapIn" />
      <wsdl:output message="tns:UpdateInvoiceHiddenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintSummaryMenuType">
      <wsdl:input message="tns:PrintSummaryMenuTypeSoapIn" />
      <wsdl:output message="tns:PrintSummaryMenuTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintSummaryReceive">
      <wsdl:input message="tns:PrintSummaryReceiveSoapIn" />
      <wsdl:output message="tns:PrintSummaryReceiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintTaxSummary">
      <wsdl:input message="tns:PrintTaxSummarySoapIn" />
      <wsdl:output message="tns:PrintTaxSummarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetBillPrinter">
      <wsdl:input message="tns:SetBillPrinterSoapIn" />
      <wsdl:output message="tns:SetBillPrinterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReceiptPrinter">
      <wsdl:input message="tns:SetReceiptPrinterSoapIn" />
      <wsdl:output message="tns:SetReceiptPrinterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetKitchenPrinter">
      <wsdl:input message="tns:SetKitchenPrinterSoapIn" />
      <wsdl:output message="tns:SetKitchenPrinterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportInvoice">
      <wsdl:input message="tns:ExportInvoiceSoapIn" />
      <wsdl:output message="tns:ExportInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSelected">
      <wsdl:input message="tns:DeleteSelectedSoapIn" />
      <wsdl:output message="tns:DeleteSelectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBillPrinter">
      <wsdl:input message="tns:GetBillPrinterSoapIn" />
      <wsdl:output message="tns:GetBillPrinterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInstalledPrinter">
      <wsdl:input message="tns:GetInstalledPrinterSoapIn" />
      <wsdl:output message="tns:GetInstalledPrinterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BusinessServiceSoap" type="tns:BusinessServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="BackupDatabase">
      <soap:operation soapAction="http://ws.smartRestaurant.net/BackupDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesReport">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetSalesReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceReport">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetInvoiceReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintInvoiceReport">
      <soap:operation soapAction="http://ws.smartRestaurant.net/PrintInvoiceReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceSummaryReport">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetInvoiceSummaryReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKitchenPrinter">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetKitchenPrinter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiptPrinter">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetReceiptPrinter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInvoiceHidden">
      <soap:operation soapAction="http://ws.smartRestaurant.net/UpdateInvoiceHidden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintSummaryMenuType">
      <soap:operation soapAction="http://ws.smartRestaurant.net/PrintSummaryMenuType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintSummaryReceive">
      <soap:operation soapAction="http://ws.smartRestaurant.net/PrintSummaryReceive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintTaxSummary">
      <soap:operation soapAction="http://ws.smartRestaurant.net/PrintTaxSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBillPrinter">
      <soap:operation soapAction="http://ws.smartRestaurant.net/SetBillPrinter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReceiptPrinter">
      <soap:operation soapAction="http://ws.smartRestaurant.net/SetReceiptPrinter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetKitchenPrinter">
      <soap:operation soapAction="http://ws.smartRestaurant.net/SetKitchenPrinter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportInvoice">
      <soap:operation soapAction="http://ws.smartRestaurant.net/ExportInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSelected">
      <soap:operation soapAction="http://ws.smartRestaurant.net/DeleteSelected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillPrinter">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetBillPrinter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstalledPrinter">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetInstalledPrinter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="BusinessServiceSoap" binding="tns:BusinessServiceSoap">
      <soap:address location="http://localhost/smartService/BusinessService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>