Web References/ReserveService/ReserveService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://ws.smartRestaurant.net" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.smartRestaurant.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.smartRestaurant.net">
      <s:element name="GetTableReserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTableReserveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTableReserveResult" type="tns:ArrayOfTableReserve" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTableReserve">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TableReserve" nillable="true" type="tns:TableReserve" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TableReserve">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="custFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="custLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="custMiddleName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="customerID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="reserveDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="reserveTableID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="seat" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="tableID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetTableReserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reserve" type="tns:TableReserve" />
            <s:element minOccurs="0" maxOccurs="1" name="custFullName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTableReserveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetTableReserveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReserveCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reserveID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReserveCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetReserveCancelResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReserveDinIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reserveID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TableID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReserveDinInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetReserveDinInResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTableReserveSoapIn">
    <wsdl:part name="parameters" element="tns:GetTableReserve" />
  </wsdl:message>
  <wsdl:message name="GetTableReserveSoapOut">
    <wsdl:part name="parameters" element="tns:GetTableReserveResponse" />
  </wsdl:message>
  <wsdl:message name="SetTableReserveSoapIn">
    <wsdl:part name="parameters" element="tns:SetTableReserve" />
  </wsdl:message>
  <wsdl:message name="SetTableReserveSoapOut">
    <wsdl:part name="parameters" element="tns:SetTableReserveResponse" />
  </wsdl:message>
  <wsdl:message name="SetReserveCancelSoapIn">
    <wsdl:part name="parameters" element="tns:SetReserveCancel" />
  </wsdl:message>
  <wsdl:message name="SetReserveCancelSoapOut">
    <wsdl:part name="parameters" element="tns:SetReserveCancelResponse" />
  </wsdl:message>
  <wsdl:message name="SetReserveDinInSoapIn">
    <wsdl:part name="parameters" element="tns:SetReserveDinIn" />
  </wsdl:message>
  <wsdl:message name="SetReserveDinInSoapOut">
    <wsdl:part name="parameters" element="tns:SetReserveDinInResponse" />
  </wsdl:message>
  <wsdl:portType name="ReserveServiceSoap">
    <wsdl:operation name="GetTableReserve">
      <wsdl:input message="tns:GetTableReserveSoapIn" />
      <wsdl:output message="tns:GetTableReserveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTableReserve">
      <wsdl:input message="tns:SetTableReserveSoapIn" />
      <wsdl:output message="tns:SetTableReserveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReserveCancel">
      <wsdl:input message="tns:SetReserveCancelSoapIn" />
      <wsdl:output message="tns:SetReserveCancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReserveDinIn">
      <wsdl:input message="tns:SetReserveDinInSoapIn" />
      <wsdl:output message="tns:SetReserveDinInSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReserveServiceSoap" type="tns:ReserveServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetTableReserve">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetTableReserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTableReserve">
      <soap:operation soapAction="http://ws.smartRestaurant.net/SetTableReserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReserveCancel">
      <soap:operation soapAction="http://ws.smartRestaurant.net/SetReserveCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReserveDinIn">
      <soap:operation soapAction="http://ws.smartRestaurant.net/SetReserveDinIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReserveService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="ReserveServiceSoap" binding="tns:ReserveServiceSoap">
      <soap:address location="http://localhost/smartService/ReserveService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>