Web References/OrderService/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://ws.smartRestaurant.net" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.smartRestaurant.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.smartRestaurant.net">
      <s:element name="GetOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tableID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderResult" type="tns:OrderInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Bills" type="tns:ArrayOfOrderBill" />
          <s:element minOccurs="1" maxOccurs="1" name="CloseOrderDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfGuest" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TableID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderBill">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderBill" nillable="true" type="tns:OrderBill" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderBill">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderBillID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BillID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CloseBillDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfOrderBillItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderBillItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderBillItem" nillable="true" type="tns:OrderBillItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderBillItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BillDetailID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CancelReasonID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ChangeFlag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DefaultOption" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemChoices" type="tns:ArrayOfOrderItemChoice" />
          <s:element minOccurs="1" maxOccurs="1" name="MenuID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServeTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="Unit" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderItemChoice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderItemChoice" nillable="true" type="tns:OrderItemChoice" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderItemChoice">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OptionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ChoiceID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOrderByOrderID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderByOrderIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderByOrderIDResult" type="tns:OrderInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTableReference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTableReferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTableReferenceResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetTableReference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tableIDList" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTableReferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetTableReferenceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderInfo" type="tns:OrderInformation" />
            <s:element minOccurs="1" maxOccurs="1" name="CustID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CustFullName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendOrderPrint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderInfo" type="tns:OrderInformation" />
            <s:element minOccurs="1" maxOccurs="1" name="CustID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CustFullName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="print" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendOrderPrintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendOrderPrintResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendOrderBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Bill" type="tns:OrderBill" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendOrderBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendOrderBillResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTakeOutList">
        <s:complexType />
      </s:element>
      <s:element name="GetTakeOutListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTakeOutListResult" type="tns:ArrayOfTakeOutInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTakeOutInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TakeOutInformation" nillable="true" type="tns:TakeOutInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TakeOutInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustInfo" type="tns:CustomerInformation" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CustID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OtherRoadName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RoadID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PrintReceipt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderBillID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintReceiptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PrintReceiptResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderBillID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PrintBillResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReprintBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderBillID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReprintBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReprintBillResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCancelReason">
        <s:complexType />
      </s:element>
      <s:element name="GetCancelReasonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCancelReasonResult" type="tns:ArrayOfCancelReason" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCancelReason">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CancelReason" nillable="true" type="tns:CancelReason" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CancelReason">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CancelReasonID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBillDetailWaitingList">
        <s:complexType />
      </s:element>
      <s:element name="GetBillDetailWaitingListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBillDetailWaitingListResult" type="tns:ArrayOfOrderWaiting" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderWaiting">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderWaiting" nillable="true" type="tns:OrderWaiting" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderWaiting">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfOrderBillItemWaiting" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderBillItemWaiting">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderBillItemWaiting" nillable="true" type="tns:OrderBillItemWaiting" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderBillItemWaiting">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BillDetailID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Choice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MenuKeyID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Unit" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServeWaitingOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="billDetailID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServeWaitingOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServeWaitingOrderResult" type="tns:ArrayOfOrderWaiting" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="GetOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderByOrderIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderByOrderID" />
  </wsdl:message>
  <wsdl:message name="GetOrderByOrderIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderByOrderIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetTableReferenceSoapIn">
    <wsdl:part name="parameters" element="tns:GetTableReference" />
  </wsdl:message>
  <wsdl:message name="GetTableReferenceSoapOut">
    <wsdl:part name="parameters" element="tns:GetTableReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="SetTableReferenceSoapIn">
    <wsdl:part name="parameters" element="tns:SetTableReference" />
  </wsdl:message>
  <wsdl:message name="SetTableReferenceSoapOut">
    <wsdl:part name="parameters" element="tns:SetTableReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="SendOrderSoapIn">
    <wsdl:part name="parameters" element="tns:SendOrder" />
  </wsdl:message>
  <wsdl:message name="SendOrderSoapOut">
    <wsdl:part name="parameters" element="tns:SendOrderResponse" />
  </wsdl:message>
  <wsdl:message name="SendOrderPrintSoapIn">
    <wsdl:part name="parameters" element="tns:SendOrderPrint" />
  </wsdl:message>
  <wsdl:message name="SendOrderPrintSoapOut">
    <wsdl:part name="parameters" element="tns:SendOrderPrintResponse" />
  </wsdl:message>
  <wsdl:message name="SendOrderBillSoapIn">
    <wsdl:part name="parameters" element="tns:SendOrderBill" />
  </wsdl:message>
  <wsdl:message name="SendOrderBillSoapOut">
    <wsdl:part name="parameters" element="tns:SendOrderBillResponse" />
  </wsdl:message>
  <wsdl:message name="GetTakeOutListSoapIn">
    <wsdl:part name="parameters" element="tns:GetTakeOutList" />
  </wsdl:message>
  <wsdl:message name="GetTakeOutListSoapOut">
    <wsdl:part name="parameters" element="tns:GetTakeOutListResponse" />
  </wsdl:message>
  <wsdl:message name="PrintReceiptSoapIn">
    <wsdl:part name="parameters" element="tns:PrintReceipt" />
  </wsdl:message>
  <wsdl:message name="PrintReceiptSoapOut">
    <wsdl:part name="parameters" element="tns:PrintReceiptResponse" />
  </wsdl:message>
  <wsdl:message name="PrintBillSoapIn">
    <wsdl:part name="parameters" element="tns:PrintBill" />
  </wsdl:message>
  <wsdl:message name="PrintBillSoapOut">
    <wsdl:part name="parameters" element="tns:PrintBillResponse" />
  </wsdl:message>
  <wsdl:message name="ReprintBillSoapIn">
    <wsdl:part name="parameters" element="tns:ReprintBill" />
  </wsdl:message>
  <wsdl:message name="ReprintBillSoapOut">
    <wsdl:part name="parameters" element="tns:ReprintBillResponse" />
  </wsdl:message>
  <wsdl:message name="GetCancelReasonSoapIn">
    <wsdl:part name="parameters" element="tns:GetCancelReason" />
  </wsdl:message>
  <wsdl:message name="GetCancelReasonSoapOut">
    <wsdl:part name="parameters" element="tns:GetCancelReasonResponse" />
  </wsdl:message>
  <wsdl:message name="GetBillDetailWaitingListSoapIn">
    <wsdl:part name="parameters" element="tns:GetBillDetailWaitingList" />
  </wsdl:message>
  <wsdl:message name="GetBillDetailWaitingListSoapOut">
    <wsdl:part name="parameters" element="tns:GetBillDetailWaitingListResponse" />
  </wsdl:message>
  <wsdl:message name="ServeWaitingOrderSoapIn">
    <wsdl:part name="parameters" element="tns:ServeWaitingOrder" />
  </wsdl:message>
  <wsdl:message name="ServeWaitingOrderSoapOut">
    <wsdl:part name="parameters" element="tns:ServeWaitingOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="OrderServiceSoap">
    <wsdl:operation name="GetOrder">
      <wsdl:input message="tns:GetOrderSoapIn" />
      <wsdl:output message="tns:GetOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderByOrderID">
      <wsdl:input message="tns:GetOrderByOrderIDSoapIn" />
      <wsdl:output message="tns:GetOrderByOrderIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTableReference">
      <wsdl:input message="tns:GetTableReferenceSoapIn" />
      <wsdl:output message="tns:GetTableReferenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTableReference">
      <wsdl:input message="tns:SetTableReferenceSoapIn" />
      <wsdl:output message="tns:SetTableReferenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendOrder">
      <wsdl:input message="tns:SendOrderSoapIn" />
      <wsdl:output message="tns:SendOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendOrderPrint">
      <wsdl:input message="tns:SendOrderPrintSoapIn" />
      <wsdl:output message="tns:SendOrderPrintSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendOrderBill">
      <wsdl:input message="tns:SendOrderBillSoapIn" />
      <wsdl:output message="tns:SendOrderBillSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTakeOutList">
      <wsdl:input message="tns:GetTakeOutListSoapIn" />
      <wsdl:output message="tns:GetTakeOutListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintReceipt">
      <wsdl:input message="tns:PrintReceiptSoapIn" />
      <wsdl:output message="tns:PrintReceiptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintBill">
      <wsdl:input message="tns:PrintBillSoapIn" />
      <wsdl:output message="tns:PrintBillSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReprintBill">
      <wsdl:input message="tns:ReprintBillSoapIn" />
      <wsdl:output message="tns:ReprintBillSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCancelReason">
      <wsdl:input message="tns:GetCancelReasonSoapIn" />
      <wsdl:output message="tns:GetCancelReasonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBillDetailWaitingList">
      <wsdl:input message="tns:GetBillDetailWaitingListSoapIn" />
      <wsdl:output message="tns:GetBillDetailWaitingListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServeWaitingOrder">
      <wsdl:input message="tns:ServeWaitingOrderSoapIn" />
      <wsdl:output message="tns:ServeWaitingOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderServiceSoap" type="tns:OrderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByOrderID">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetOrderByOrderID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableReference">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetTableReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTableReference">
      <soap:operation soapAction="http://ws.smartRestaurant.net/SetTableReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOrder">
      <soap:operation soapAction="http://ws.smartRestaurant.net/SendOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOrderPrint">
      <soap:operation soapAction="http://ws.smartRestaurant.net/SendOrderPrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOrderBill">
      <soap:operation soapAction="http://ws.smartRestaurant.net/SendOrderBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTakeOutList">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetTakeOutList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintReceipt">
      <soap:operation soapAction="http://ws.smartRestaurant.net/PrintReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintBill">
      <soap:operation soapAction="http://ws.smartRestaurant.net/PrintBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReprintBill">
      <soap:operation soapAction="http://ws.smartRestaurant.net/ReprintBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCancelReason">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetCancelReason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillDetailWaitingList">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetBillDetailWaitingList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServeWaitingOrder">
      <soap:operation soapAction="http://ws.smartRestaurant.net/ServeWaitingOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="OrderServiceSoap" binding="tns:OrderServiceSoap">
      <soap:address location="http://localhost/smartService/OrderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>