Web References/CustomerService/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://ws.smartRestaurant.net" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.smartRestaurant.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.smartRestaurant.net">
      <s:element name="DeleteCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="custID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomers">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomersResult" type="tns:ArrayOfCustomerInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCustomerInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustomerInformation" nillable="true" type="tns:CustomerInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CustID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OtherRoadName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RoadID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRoads">
        <s:complexType />
      </s:element>
      <s:element name="GetRoadsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRoadsResult" type="tns:ArrayOfRoad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRoad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Road" nillable="true" type="tns:Road" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Road">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AreaName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AreaTypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RoadID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RoadName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoadTypeName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchCustomers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="telephone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchCustomersResult" type="tns:ArrayOfCustomerInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custInfo" type="tns:CustomerInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeleteCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoadsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoads" />
  </wsdl:message>
  <wsdl:message name="GetRoadsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRoadsResponse" />
  </wsdl:message>
  <wsdl:message name="SearchCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:SearchCustomers" />
  </wsdl:message>
  <wsdl:message name="SearchCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:SearchCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="SetCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:SetCustomer" />
  </wsdl:message>
  <wsdl:message name="SetCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:SetCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerServiceSoap">
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input message="tns:DeleteCustomerSoapIn" />
      <wsdl:output message="tns:DeleteCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input message="tns:GetCustomersSoapIn" />
      <wsdl:output message="tns:GetCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoads">
      <wsdl:input message="tns:GetRoadsSoapIn" />
      <wsdl:output message="tns:GetRoadsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCustomers">
      <wsdl:input message="tns:SearchCustomersSoapIn" />
      <wsdl:output message="tns:SearchCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCustomer">
      <wsdl:input message="tns:SetCustomerSoapIn" />
      <wsdl:output message="tns:SetCustomerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerServiceSoap" type="tns:CustomerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://ws.smartRestaurant.net/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoads">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetRoads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCustomers">
      <soap:operation soapAction="http://ws.smartRestaurant.net/SearchCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCustomer">
      <soap:operation soapAction="http://ws.smartRestaurant.net/SetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="CustomerServiceSoap" binding="tns:CustomerServiceSoap">
      <soap:address location="http://localhost/smartService/CustomerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>