Web References/CheckBillService/CheckBillService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://ws.smartRestaurant.net" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.smartRestaurant.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.smartRestaurant.net">
      <s:element name="GetInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderBillID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceResult" type="tns:Invoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Invoice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="discounts" type="tns:ArrayOfInvoiceDiscount" />
          <s:element minOccurs="1" maxOccurs="1" name="employeeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="invoiceID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="invoiceNote" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="orderBillID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="paymentMethodID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="payments" type="tns:ArrayOfInvoicePayment" />
          <s:element minOccurs="1" maxOccurs="1" name="point" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="refInvoice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="tax1" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="tax2" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="totalDiscount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="totalPrice" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="totalReceive" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInvoiceDiscount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InvoiceDiscount" nillable="true" type="tns:InvoiceDiscount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InvoiceDiscount">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="invoiceDiscountID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="invoiceID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="promotionID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInvoicePayment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InvoicePayment" nillable="true" type="tns:InvoicePayment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InvoicePayment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="paymentMethodID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="receive" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetInvoiceByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="invoiceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceByIDResult" type="tns:Invoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invoice" type="tns:Invoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendInvoiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComputeBillPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderBillID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComputeBillPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetComputeBillPriceResult" type="tns:BillPrice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BillPrice">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="totalPrice" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="totalDiscount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="totalTax1" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="totalTax2" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTodayTip">
        <s:complexType />
      </s:element>
      <s:element name="GetTodayTipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTodayTipResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDescriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoice" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoiceByID" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceByIDResponse" />
  </wsdl:message>
  <wsdl:message name="SendInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:SendInvoice" />
  </wsdl:message>
  <wsdl:message name="SendInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:SendInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="GetComputeBillPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetComputeBillPrice" />
  </wsdl:message>
  <wsdl:message name="GetComputeBillPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetComputeBillPriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetTodayTipSoapIn">
    <wsdl:part name="parameters" element="tns:GetTodayTip" />
  </wsdl:message>
  <wsdl:message name="GetTodayTipSoapOut">
    <wsdl:part name="parameters" element="tns:GetTodayTipResponse" />
  </wsdl:message>
  <wsdl:message name="GetDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:GetDescription" />
  </wsdl:message>
  <wsdl:message name="GetDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:GetDescriptionResponse" />
  </wsdl:message>
  <wsdl:portType name="CheckBillServiceSoap">
    <wsdl:operation name="GetInvoice">
      <wsdl:input message="tns:GetInvoiceSoapIn" />
      <wsdl:output message="tns:GetInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceByID">
      <wsdl:input message="tns:GetInvoiceByIDSoapIn" />
      <wsdl:output message="tns:GetInvoiceByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendInvoice">
      <wsdl:input message="tns:SendInvoiceSoapIn" />
      <wsdl:output message="tns:SendInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetComputeBillPrice">
      <wsdl:input message="tns:GetComputeBillPriceSoapIn" />
      <wsdl:output message="tns:GetComputeBillPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTodayTip">
      <wsdl:input message="tns:GetTodayTipSoapIn" />
      <wsdl:output message="tns:GetTodayTipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDescription">
      <wsdl:input message="tns:GetDescriptionSoapIn" />
      <wsdl:output message="tns:GetDescriptionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckBillServiceSoap" type="tns:CheckBillServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetInvoice">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceByID">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetInvoiceByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendInvoice">
      <soap:operation soapAction="http://ws.smartRestaurant.net/SendInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComputeBillPrice">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetComputeBillPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodayTip">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetTodayTip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDescription">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckBillService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="CheckBillServiceSoap" binding="tns:CheckBillServiceSoap">
      <soap:address location="http://localhost/smartService/CheckBillService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>